Repository zzzzshawn/sanity, changes with the labels that .github/labeler.yml gives for each.
All labels: Backend, Frontend

.github/labeler.yml:

Backend:
  - changed-files:
      - any-glob-to-any-file:
          [
            "app/**",
            "lib/**",
            "model/**",
            "prisma/**",
            "context/**",
            "types/**",
          ]

Frontend:
  - changed-files:
      - any-glob-to-any-file: ["components/**", "@/**", "public/**"]

refresh
  pnpm-lock.yaml
Labels: none

update tournament section
  components/TournamentSection.jsx
Labels: Frontend

update tournament page
  app/tournaments/page.js
  components/TournamentSection.jsx
Labels: Backend, Frontend

get back env.js
  lib/env.js
Labels: Backend

fixed code rabbit issue
  components/TournamentSection.jsx
Labels: Frontend

fixed iso string
  components/TournamentSection.jsx
Labels: Frontend

env disable
  lib/env.js
Labels: Backend

fix build issue
  app/bracket/bracket.jsx
Labels: Backend

env enable
  lib/env.js
Labels: Backend

theme
  .eslintrc.json
  @/components/ui/container-scroll-animation.jsx
  app/globals.css
  components/Dash.jsx
  components/HeroSection.jsx
  components/Navbar.jsx
  lib/env.js
  package.json
  pnpm-lock.yaml
  tailwind.config.js
Labels: Backend, Frontend

build error fix
  app/bracket/create/page.js
Labels: Backend

parallax
  app/bracket/bracket.jsx
  app/globals.css
  app/page.js
  components/Dash.jsx
  declarations.d.ts
  package-lock.json
  package.json
  public/center.jpg
  public/parallax2.jpg
  public/parallax3.jpg
  public/parallax4.jpg
  public/parallax5.jpg
  tailwind.config.js
  tailwind.config.ts
  tsconfig.json
Labels: Backend, Frontend

center img
  app/assets/center.jpg
  app/globals.css
  components/Dash.jsx
  components/FeatureSection/FeatureSection.jsx
  public/assets/center.jpg
Labels: Backend, Frontend

build
  components/Dash.jsx
Labels: Frontend

unlock
  pnpm-lock.yaml
Labels: none

capital
  components/HeroSection.jsx
Labels: Frontend

capital
  app/bracket/[id]/page.js
  app/bracket/create/page.js
Labels: Backend

env
  lib/env.js
Labels: Backend

width and static
  app/(auth)/layout.jsx
  components/Dash.jsx
  pnpm-lock.yaml
Labels: Backend, Frontend

added sending emails
  app/api/sign-up/route.ts
  components/emails/sendVerificationEmail.tsx
  lib/resend.ts
  package-lock.json
  package.json
  pnpm-lock.yaml
Labels: Backend, Frontend

added discord and linkedin oauth
  .env.example
  app/(auth)/sign-in/page.jsx
  app/(auth)/sign-up/page.jsx
  app/api/auth/[...nextauth]/options.js
  lib/authOptions.js
  lib/env.js
Labels: Backend

added account table
  model/Account.js
Labels: Backend

fixed dependency issues
  package-lock.json
  package.json
Labels: none

added motion/react
  app/(auth)/layout.jsx
  app/(auth)/sign-in/page.jsx
  app/tournaments/[id]/page.js
  components/Dash.jsx
  components/FaqSection.jsx
  components/FeatureSection/FeatureSection.jsx
  components/HeroSection.jsx
  components/Navbar.jsx
  components/SkeletonTwo.jsx
  components/TournamentBracket.jsx
  tsconfig.json
Labels: Backend, Frontend

removed delay
  app/(auth)/sign-in/page.jsx
Labels: Backend

Update lib/authOptions.js
  lib/authOptions.js
Labels: Backend

Update env.js
  lib/env.js
Labels: Backend
