Repository zzzzshawn/sanity, changes with the labels that .github/labeler.yml gives for each.
All labels: Backend, Frontend

.github/labeler.yml:

Backend:
  - changed-files:
      - any-glob-to-any-file:
          [
            "app/**",
            "lib/**",
            "model/**",
            "prisma/**",
            "context/**",
            "types/**",
          ]

Frontend:
  - changed-files:
      - any-glob-to-any-file: ["components/**", "@/**", "public/**"]

Setup frontend
  app/tournaments/[id]/participants/page.js
Labels: Backend

test commit
  app/tournaments/[id]/participants/page.js
  components/ParticipantsSection.jsx
Labels: Backend, Frontend

changes based on advise
  app/api/brackets/[id]/route.js
  app/bracket/[id]/page.js
  components/NewBracket.jsx
Labels: Backend, Frontend

changes
  components/FaqSection.jsx
  components/Footer.jsx
  components/HeroSection.jsx
  lib/generateBracket.js
  package-lock.json
  package.json
Labels: Backend, Frontend

bracket
  components/Brackets.jsx
  package-lock.json
Labels: Frontend

foot
  components/Footer.jsx
Labels: Frontend

added api and component
  app/api/tournaments/[id]/participants/route.js
  components/ui/input.jsx
Labels: Backend, Frontend

update model
  model/Tournament.js
Labels: Backend

Update section
  components/ParticipantsSection.jsx
Labels: Frontend

Update frontend
  app/tournaments/[id]/participants/page.js
Labels: Backend

fix bug
  components/SkeletonTwo.tsx
Labels: Frontend

fix bracket api route to store full information
  app/api/brackets/route.js
  components/Brackets.jsx
  package-lock.json
Labels: Backend, Frontend

add badge
  @/components/ui/badge.jsx
Labels: Frontend

update section
  components/ParticipantsSection.jsx
Labels: Frontend

remove comments
  components/ParticipantsSection.jsx
Labels: Frontend

api updat
  app/api/tournaments/[id]/participants/route.js
Labels: Backend

remove comments
  app/api/tournaments/[id]/participants/route.js
Labels: Backend

fixed api
  app/api/tournaments/[id]/participants/route.js
Labels: Backend

fix error
  components/ParticipantsSection.jsx
Labels: Frontend

Update packman loader
  components/ParticipantsSection.jsx
Labels: Frontend

ui improve
  components/ParticipantsSection.jsx
Labels: Frontend

SAN-87 Added dashboard frontend
  app/(auth)/sign-in/page.jsx
  app/api/dashboard/route.js
  app/dashboard/page.jsx
Labels: Backend

add route
  app/api/tournaments/[id]/dashboard/route.js
  app/tournaments/[id]/dashboard/page.js
Labels: Backend

update to jsx
  app/tournaments/[id]/dashboard/page.js
  app/tournaments/[id]/dashboard/page.jsx
Labels: Backend

implement bracket viewer
  app/api/brackets/[id]/route.js
  app/createBracket/page.jsx
  app/createBracket/styles.css
Labels: Backend

chore: unused files
  .vercelignore
  pnpm-lock.yaml
  prisma/schema.prisma
  prisma/seed.js
  tailwind.config.ts
Labels: Backend

chore: optimize 1
  app/api/auth/[...nextauth]/options.js
  app/api/tournaments/route.js
Labels: Backend

chore: gitignore setup
  .gitignore
Labels: none

fix clearing brackets
  app/createBracket/page.jsx
Labels: Backend

add: theme mode toggle
  app/globals.css
  app/layout.js
  components/FeatureSection/FeatureSectionGrid.jsx
  components/FeatureSection/FeatureSectionList.jsx
  components/Footer.jsx
  components/HeroSection.jsx
  components/Navbar.jsx
  components/Provider.jsx
  components/SkeletonTwo.tsx
  components/ThemeModeToggle.jsx
  package-lock.json
  package.json
  tailwind.config.js
  tailwind.config.ts
Labels: Backend, Frontend

ui improvement
  @/components/ui/cover.jsx
  @/components/ui/sparkles.jsx
  app/(auth)/layout.jsx
  app/news/page.jsx
  components/BlogBanner.jsx
  components/FeatureSection/FeatureSection.jsx
  components/FeatureSection/FeatureSectionGrid.jsx
  components/HeroSection.jsx
  components/News.jsx
  package-lock.json
  package.json
  tailwind.config.js
Labels: Backend, Frontend

nothing
  @/components/ui/cover.jsx
  @/components/ui/sparkles.jsx
  app/(auth)/layout.jsx
  app/news/page.jsx
  components/FeatureSection/FeatureSection.jsx
  components/FeatureSection/FeatureSectionGrid.jsx
  components/HeroSection.jsx
  components/News.jsx
  pnpm-lock.yaml
  tailwind.config.js
Labels: Backend, Frontend

feat: setup environment validation with zod
  .env.example
  app/api/auth/[...nextauth]/options.js
  app/games/page.js
  lib/authOptions.js
  lib/dbConnect.ts
  lib/env.js
  lib/resend.ts
  lib/sanity.js
  package-lock.json
  package.json
  pnpm-lock.yaml
  sanity/sanity.cli.js
  sanity/sanity.config.js
Labels: Backend

fixed tournament load and unlimited load on checking tournament
  app/api/tournaments/[id]/route.js
  app/tournaments/[id]/page.js
  lib/prefetchTournaments.js
Labels: Backend

added seed file
  lib/seed.js
  model/User.js
  package.json
  pnpm-lock.yaml
Labels: Backend

using number of teams
  app/createBracket/page.jsx
Labels: Backend

bye logic
  app/createBracket/page.jsx
Labels: Backend

frontend
  app/tournaments/[id]/dashboard/page.jsx
Labels: Backend

add backend
  app/api/tournaments/[id]/dashboard/route.js
Labels: Backend

lint file
  components/HeroSection.jsx
Labels: Frontend
